*{
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12px;
}

#header{
    -fx-background-color: rgb(114, 0, 0);
    -fx-background-image: url("LogoServiCeramica.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 800px 170px;
    -fx-pref-width:340;
    -fx-pref-height:130;
}

.login-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #f7f7f7;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 5 10;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #4A90E2;  /* Cambia el color del borde al enfocar */
}
/* -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 3); */

.button {
    -fx-background-color: #d9534f;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #c9302c; /* Color más oscuro al pasar el cursor */
}

.button:pressed {
    -fx-background-color: #ac2925; /* Color aún más oscuro al hacer clic */
}

.custom-vbox {
    -fx-padding: 10; /* Espaciado interno opcional */
    -fx-max-width:300;
    -fx-spacing:7;
}

#searchBox{
    -fx-padding: 14;
    -fx-spacing: 15;
    -fx-alignment: "CENTER";
}

#informationRecord{
    -fx-spacing: 8;
    -fx-padding: 10 5 5 5;
}

.button-header{
    -fx-pref-height:22;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.view-border{
    -fx-border-color: black; /* Color del borde */
    -fx-border-width: 2px;   /* Grosor del borde */
    -fx-border-style: solid;
}

/* Cambia el color de la caja cuando el CheckBox está seleccionado */
.check-box:selected .box {
    -fx-background-color: #d9534f; /* Fondo cuando está seleccionado */
    -fx-border-color: #d9534f;     /* Borde del CheckBox */
    -fx-border-radius: 4;          /* Bordes redondeados */
}

/* Cambia el color de la marca (check) */
.check-box:selected .mark {
    -fx-background-color: white; /* Color de la marca al estar seleccionado */
}

/* Estilo cuando el CheckBox está desmarcado */
.check-box .box {
    -fx-border-color: #cccccc;    /* Borde gris claro */
    -fx-background-color: #f7f7f7; /* Fondo gris claro */
    -fx-border-width: 2;           /* Grosor del borde */
    -fx-border-radius: 4;          /* Bordes redondeados */
    -fx-padding: 3;
}

/* Estilo para el texto del CheckBox */
.check-box .text {
    -fx-text-fill: #333333; /* Color del texto */
}

/* Añadir efecto al hacer hover */
.check-box:hover .box {
    -fx-border-color: #c9302c;  /* Cambia el color del borde al pasar el mouse */
}

/* Cambia el aspecto al hacer clic */
.check-box:pressed .box {
    -fx-background-color: #ac2925;
    -fx-border-color: #ac2925;
}

#records{
    -fx-hgap:10;
    -fx-vgap:12;
    -fx-padding:12;
}

#recordInfoTable{
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-hgap:4;
    -fx-vgap:5;
    -fx-padding:10;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box,rgb(0, 0, 0), 10, 0, 1, 3);
}

#selectRecordInfo{
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box,rgb(0, 0, 0), 10, 0, 1, 3);
}

#reports{
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box,rgb(0, 0, 0), 10, 0, 1, 2);
}

.table-view {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box,rgb(0, 0, 0), 10, 0, 1, 2);
}

.table-view .column-header {
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: white;
    -fx-border-color: black;
}

.table-view .column-header .label {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.table-row-cell:odd {
    -fx-background-color: #f0f2f5;
}

.table-row-cell:even {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #b3c2cc;
    -fx-text-fill: black;
}

.table-cell {
    -fx-text-fill: #333333;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 10px;
}

.date-picker {
    -fx-background-radius: 10 5px 5px 10;
}

#filDateInit .text-field, #filDateEnd .text-field {
    -fx-background-radius: 0;
    -fx-border-radius: 10 0 0 10;
}

.combo-box{
    -fx-background-color: #f8fcfe;
    -fx-background-radius: 10;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    -fx-padding: 5 9;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0, 0, 2);
}

.date-picker .arrow-button {
    -fx-background-color: #f9f9f9;
    -fx-border-radius: 0 5px 5px 0;
}

.date-picker .popup {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
}

.date-picker .day-cell {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
}

.date-picker .day-cell:hover {
    -fx-background-color: lightblue;
}

.date-picker .day-cell:selected {
    -fx-background-color: #ff6666; /* Ejemplo de color rojo */
    -fx-padding: 2;
    -fx-text-fill: white;
}

.label-info-value{
    -fx-padding: 0 65 0 8;
}
.hbox-info{
    -fx-padding: 7;
}