*{
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12px;
}

.custom-hbox{
    -fx-background-color: rgb(114, 0, 0);
    -fx-pref-width:300;
    -fx-pref-height:100;
   
}

.text-field {
    -fx-pref-width: 200; /* Establece el ancho preferido a 200 píxeles */
}
/* -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 3); */

.custom-vbox {
    -fx-padding: 10; /* Espaciado interno opcional */
    -fx-max-width:300;
    -fx-spacing:7;
}

.view-border{
    -fx-border-color: black; /* Color del borde */
    -fx-border-width: 2px;   /* Grosor del borde */
    -fx-border-style: solid;
}
